*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid gray;
}
body{
    background-color: black;
    color: white;
    padding: 30px 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
nav>ul>li{
list-style: none;
}
header{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 650px;
    position: relative;
}
header>p{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header>h1{
    font-size: 50px;
}
header>img{
    height: 400px;
}
.header-img1,
.header-img2,
.header-img3,
.header-img4{
    position: absolute;
    height: 150px;
    width: 150px;
}
.header-img1{
    top: 50px;
    left: 50px;
}
.header-img2{
    top: 50px;
    right: 50px;
}
.header-img3{
    bottom: 50px;
    left: 50px;
}
.header-img4{
    bottom: 50px;
    right: 50px;
}

.about{
    padding: 30px 0px;
}
.cart{
    padding: 20px;
    background-color: #0E0E10;
    border-radius: 20px;
}
.cart>img{
width: 300px;

}
.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.grid>div,
.grid>div>div
{
    gap: 20px;
    height: 100%;
    width: 100%;
}

.grid>.col-1,
.grid>.col-2{
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    align-items: center;
}
.grid>.col-1>.col-1a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}